<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="anil_nepal">
        <label class="switch switch-left-right" onclick="modifyProcess()">
          <input class="switch-input" type="checkbox" id="check_box">
          <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> </label>
      </div>
    </div>
  </div>
</div>
